@import '../../../assets/styles/variables';

table {
  width: 100%;

  thead {
    background-color: $primary;
    height: 3rem;
    color: white;
  }
}

tr {
  background-color: $bg-primary;
  height: 3rem;
  font-size: 14px;

  &:nth-child(even) {
    background-color: $bg-secondary;
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  padding-bottom: 20px;

  .table-title {
    font-size: 20px;
  }
}
