@import '../../assets/styles/variables';

.dashboard {
  height: 50vh;
  min-height: 300px;

  .chart-wrapper {
    width: 100%;
    height: 80%;
  }
}

.table-wrapper {
  width: 100%;
  height: 100%;
}
