@import '../../assets/styles/variables';

.ticket-submission {
  width: 80%;
  min-width: 600px;
}

.label-description {
  font-size: 1.2rem;
  font-weight: $weight-heavy;
  color: black;
  margin-left: $indent-level;
  margin-bottom: 10px;
}

.submission-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-left: $indent-level;
  align-items: center;
}

.submission-subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-items: start;
}

.submission-grid.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
