.activity-container {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  opacity: 1;
  animation: fadeIn 1.5s;

  .comment-header {
    color: gray;
  }
}

.isFulfiller {
  text-align: right;
  justify-content: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    // transform: scaleY(0);
  }
  100% {
    opacity: 1;
    // transform: scaleY(1);
  }
}
