@import '../../../assets/styles/variables';

.activity-container {
  border: $line-dividers;
  border-radius: 5px;
  margin: 10px 15% auto 10px;
  padding: 10px;
  opacity: 1;
  animation: fadeIn 1.5s;
  box-shadow: 1px 1px 3px lightgray;

  .comment-header {
    color: gray;

    input {
      display: inline;
      width: 3rem;
    }
  }

  .comment-content {
    // max-width: 60%;
    // justify-self: end;

    input {
      text-align: end;
    }
  }
}

.isFulfiller {
  text-align: right;
  justify-content: right;
  align-items: flex-end;
  margin: 10px 10px auto 15%;
}

.isInternal {
  .comment-content {
    color: red;
  }

  .comment-header::after {
    content: ' (Internal)';
  }
}

.edit-button {
  &:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    // transform: scaleY(0);
  }
  100% {
    opacity: 1;
    // transform: scaleY(1);
  }
}
