@import './assets/styles/variables';
@use './assets/styles/TicketTable';

.app-body {
  background-color: $bg-secondary;
  font-family: 'Inter';
  color: $primary;
  height: 100%;
}

.page-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-dividers {
  border: $line-dividers;
}

.font-loader {
  font-family: 'Inter';
}

.font-small {
  font-size: $font-small;
}

.font-medium {
  font-size: $font-medium;
}

.font-large {
  font-size: $font-large;
}

.font-bold {
  font-weight: $weight-heavy;
}

.font-light {
  font-weight: $weight-light;
}

.font-normal {
  font-weight: $weight-medium;
}

.flex {
  display: flex;
}

.flex-right {
  justify-content: end;
}

.icon-link {
  color: $link-color;
  align-self: center;
  text-decoration: underline 2px;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline 2px;
  }
}

.bg--primary {
  background-color: $bg-color-primary;
}

.flex-align-vert {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container-inline-block {
  display: inline-block;
}

.card-wrapper {
  padding: 20px 20px;
  // box-shadow: 0px 4px 20px rgba(69, 118, 154, 0.3);
  border-radius: 5px;
  background-color: $color-white;
}

.card-shadow {
  box-shadow: 1px 1px 7px lightgray;
  border-radius: 8px;
}

.card-title {
  font-weight: $weight-heavy;
}

.form-section {
  margin: 20px 0px;
}

.grid {
  display: grid;
}

.card-header {
  height: 3rem;
  border-radius: 8px;
}

.header-dark {
  background-color: $bg-color-primary;
  color: $color-white;
}

.no-padding {
  padding: 0;
}

.card-pane {
  padding: 10px;
}

.section-title {
  font-weight: 700;
  padding-left: 10px;
}

.icon-center-vert {
  display: flex;
  align-items: center;
}

.icon-pad-right {
  padding-right: 5px;
}

footer {
  background-color: $bg-color-primary;
  height: 3rem;
}

.padding-normal {
  padding: 10px;
}

.full-width {
  width: 100%;
}

.priority-dot {
  border-radius: 50%;
  min-width: $priority-dot-width;
  max-width: $priority-dot-width;
  min-height: $priority-dot-width;
  max-height: $priority-dot-width;
  margin: auto 10px;
  display: inline-block;
  align-self: center;
}

.dot-green {
  background-color: green;
}

.dot-orange {
  background-color: orange;
}

.dot-red {
  background-color: red;
}
