:root {
  --color-white: white;
  --bg-color-primary: #012b3f;
  --bg-off-white: #f8f8f8;
}

.package-layout--vteams {
  background-color: var(--bg-off-white);
}

.bg--primary {
  background-color: var(--bg-color-primary);
}

.flex-align-vert {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.form-wrapper {
  padding: 20px 40px;
  box-shadow: 1px 1px 7px lightgray;
  border-radius: 8px;
  background-color: var(--color-white);
}

.form-section {
  margin: 20px 0px;
}
