@import './assets/styles/variables';
@use './assets/styles/TicketTable';

:root {
  --color-white: $color-white;
  --bg-color-primary: $bg-color-primary;
  --bg-off-white: $bg-off-white;
  --bg-off-white-darker: $bg-off-white-darker;
  --weight-medium: $weight-medium;
  --weight-heavy: $weight-heavy;
  --indent-level: $indent-level;
  --line-dividers: $line-dividers;
}

.line-dividers {
  border: $line-dividers;
}

.font-loader {
  font-family: 'Inter';
}

.font-small {
  font-size: $font-small;
}

.font-medium {
  font-size: $font-medium;
}

.font-large {
  font-size: $font-large;
}

.font-bold {
  font-weight: $weight-heavy;
}

.font-light {
  font-weight: $weight-light;
}

.font-normal {
  font-weight: $weight-medium;
}

.page-container {
  background-color: $bg-off-white;
  font-family: 'Inter';
}

.flex {
  display: flex;
}

.flex-right {
  justify-content: end;
}

.bg--primary {
  background-color: $bg-color-primary;
}

.flex-align-vert {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container-inline-block {
  display: inline-block;
}

.card-wrapper {
  padding: 20px 40px;
  box-shadow: 1px 1px 7px lightgray;
  border-radius: 8px;
  background-color: $color-white;
}

.card-shadow {
  box-shadow: 1px 1px 7px lightgray;
  border-radius: 8px;
}

.card-title {
  font-weight: $weight-heavy;
}

.form-section {
  margin: 20px 0px;
}

.grid {
  display: grid;
}

.card-header {
  height: 3rem;
  border-radius: 8px;
}

.header-dark {
  background-color: $bg-color-primary;
  color: $color-white;
}

.no-padding {
  padding: 0;
}

.card-pane {
  padding: 10px;
}

.section-title {
  font-weight: 700;
  padding-left: 10px;
}

.icon-center-vert {
  display: flex;
  align-items: center;
}

.icon-pad-right {
  padding-right: 5px;
}

footer {
  background-color: $bg-color-primary;
  height: 3rem;
}

.padding-normal {
  padding: 10px;
}

.full-width {
  width: 100%;
}

.priority-dot {
  border-radius: 50%;
  min-width: $priority-dot-width;
  max-width: $priority-dot-width;
  min-height: $priority-dot-width;
  max-height: $priority-dot-width;
  margin: auto 10px;
  display: inline-block;
  align-self: center;
}

.dot-green {
  background-color: green;
}

.dot-orange {
  background-color: orange;
}

.dot-red {
  background-color: red;
}

:export {
  bgColorPrimary: $bg-color-primary;
  bgColorLight: $bg-color-light;
  bgOffWhiteDarker: $bg-off-white-darker;
  colorWhite: $color-white;
  line-dividers: $line-dividers;
  fontSmall: $font-small;
  fontMedium: $font-medium;
  fontLarge: $font-large;
}
