@import '../../assets/styles/variables';

.client-management {
  header {
    background-color: $bg-color-primary;
    color: $color-white;
    display: flex;
    width: 100%;
  }
}

.accordion-summary-item {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

.summary-item-box {
  background-color: $bg-off-white-darker;
  border-radius: 10px;
}

.acc-summary-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.acc-details-container {
  display: flex;
}

.acc-details-grow {
  flex-grow: 1;
}

.open-tickets-vertical {
  flex-grow: 0;
  margin: 20px;
}
.header-labels {
  width: 100%;
  display: grid;
  grid-template-columns: 2;
  flex: 1;
}
