@import '../../assets/styles/variables';

$dimensions: 2rem;

.nav-icon {
  display: flex;
  /* justify-content: center; */
  border-radius: 50%;
  background-color: $color-white;
  margin: 4px;
  width: $dimensions;
  height: $dimensions;
  min-width: $dimensions;
  min-height: $dimensions;
  cursor: pointer;
}

.nav-icon * {
  border-radius: 50%;
  margin: auto;
  transform-origin: center;
  transform: scale(0.95);
}
