$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;

$bg-color-primary: #012b3f;
$bg-color-light: #488dad;
$color-white: white;
$bg-off-white: #f8f8f8;
$bg-off-white-darker: #f7f7f8;

$weight-light: 300;
$weight-medium: 500;
$weight-heavy: 700;

$indent-level: 10px;

$line-dividers: 1px solid #c4c4c4;

$priority-dot-width: 7px;
$priority-low-color: green;
$priority-medium-color: orange;
$priority-high-color: red;

$link-color: #8b8b8b;
$link-color-hover: #4f4f4f;

:export {
  bgColorPrimary: $bg-color-primary;
  bgColorLight: $bg-color-light;
  bgOffWhiteDarker: $bg-off-white-darker;
  colorWhite: $color-white;
  line-dividers: $line-dividers;
  fontSmall: $font-small;
  fontMedium: $font-medium;
  fontLarge: $font-large;
}
