@import '../../assets/styles/variables';

.client-management {
  header {
    background-color: $bg-color-primary;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 16px;
  }
}

.header-labels {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.accordion-summary-item {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

.summary-item-box {
  background-color: $bg-off-white-darker;
  border-radius: 10px;
}

.acc-summary-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 15%) 1fr;
}

// .accordion-summary-item:last-child {
//     background-color: green;
//     margin-right: 20px;
//   }

.acc-details-container {
  display: flex;
}

.acc-details-grow {
  flex-grow: 1;
}

.open-tickets-vertical {
  flex-grow: 0;
  margin: 20px;
}
.header-labels {
  width: 100%;
  display: grid;
  grid-template-columns: 2;
  flex: 1;
}
