#user-ticket-grid {
  grid-template-columns: 3fr 2fr;
}

.card-pane {
  padding: 0;
  min-height: 60vh;
}

.left-pane {
  border-right: var(--line-dividers);
  padding: 0;
}

.right-pane {
}

.left-pane--content {
  background-color: var(--color-white);
  width: 100%;
  height: 4rem;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.right-pane--content {
}

.pane-header {
  margin: auto 0px;
  padding: 10px;
}

.pane-subheader {
  width: 100%;
  background-color: var(--bg-off-white-darker);
}

#left-pane-header {
  grid-template-columns: 2fr 1fr 1fr;
}

.MuiTabs-flexContainer {
  justify-content: space-around;
}

.ticket-comments {
  padding: 10px;
}

.textarea-wrapper {
  margin-top: 10px;
}

table {
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: var(--line-dividers);
  width: 100%;
  height: 3rem;
  align-items: center;
}

th {
  font-weight: 500;
  padding-left: 1rem;
}
