@import '../../assets/styles/variables';

.activities {
  margin-top: 20px;
}

.activity-feed {
  overflow-y: auto;
  max-height: 400px;
}

.activity-feed-container {
  border: $line-dividers;
  border-radius: 10px;
  padding: 5px;
}

.hours-container {
  width: 15rem;

  label: {
    color: red;
  }
}

textarea:not(.form-control) {
  &.internal {
    background-color: rgb(255, 206, 206);
  }
}

.message-no-comments {
  font-style: italic;
  font-size: $font-small;
  color: gray;
  text-align: center;
}

input[type='checkbox'] {
  margin: auto 10px auto 0px;
}

.comment-label__checkbox {
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
    margin-top: 2px;
  }
}
