@import '../../assets/styles/variables';

.activities {
  margin-top: 20px;
}

.activity-feed {
  overflow-y: auto;
  max-height: 400px;
}

.activity-feed-container {
  border: $line-dividers;
  border-radius: 10px;
  padding: 5px;
}

.hours-container {
  width: 15rem;

  label: {
    color: red;
  }
}

textarea:not(.form-control) {
  &.internal {
    background-color: rgb(255, 206, 206);
  }
}
