@import '../../assets/styles/variables';

.activity-feed {
  margin-top: 20px;
  max-height: 500px;
  overflow: scroll;
}

textarea:not(.form-control) {
  &.internal {
    background-color: rgb(255, 206, 206);
  }
}
