@import '../../assets/styles/variables';

$img-dimensions: 70px;

.burndown-dashboard {
  display: flex;
  justify-content: space-around;
  gap: 10%;

  .burndown-panel {
    background-color: $color-white;
    border-radius: 10px;
    min-width: 30%;
    width: 30%;
    max-height: 70vh;
    overflow: hidden;
  }

  .burndown-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: $line-dividers;

    img {
      width: $img-dimensions;
      height: $img-dimensions;
    }

    .burndown-organization {
      font-weight: $weight-heavy;
      margin: auto;
      text-align: center;
    }
  }

  .burndown-body {
    .burndown-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;

      .burndown-item--header {
        font-weight: $weight-heavy;
      }
    }
  }

  .burndown-footer {
    color: $color-white;
    background-color: $bg-color-primary;
    text-align: center;
    font-weight: $weight-heavy;
    padding: 15px;
    transition: background-color 0.5s;

    &:hover {
      background-color: $bg-color-light;
      cursor: pointer;
    }
  }
}
