/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ kinops
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$bg-primary: #ffffff;
$bg-secondary: #e0ecf5;
$primary: #00487c;

.dropdown .dropdown-menu {
  @include scrollbar();
}

.app-header {
  background-color: $bg-primary;

  .kinetic-typeahead {
    .search {
      color: $primary;
    }

    .goto-search {
      color: $primary;
    }
  }
  .dropdown {
    color: $primary;

    a[role='button'] {
      color: $primary;
    }
  }
}

// .app-sidebar {
//   background-color: $bg-primary;
// }
